<!doctype html>
<html lang="en">
  <head>
    {{ content_for_header }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ shop.name }}</title>
    <link
      rel="stylesheet"
      href="https://cdn.shopify.com/s/files/1/0642/0817/5254/files/swiper-bundle.min.css?v=1717484992"
    >
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="assets/locomotive-scroll.css" rel="stylesheet">
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'admin.css' | asset_url | stylesheet_tag }}
    {{ 'media.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    {% sections 'group-header' %}
    {{ content_for_layout }}
    {% sections 'group-footer' %}
    <script async src="{{ 'jquery-3.6.0.min.js' | asset_url }}"></script>
    <script
      async
      src="https://cdn.shopify.com/s/files/1/0642/0817/5254/files/swiper-bundle.min.js?v=1717484992"
    ></script>
    <script defer src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script async src="https://cdn.shopify.com/s/files/1/0642/0817/5254/files/script.js?v=1717496012"></script>
  </body>
</html>
